<h1>Photo Album</h1>

<% @photos.each do |photo| %>
  <h3><%= link_to photo.name, photo_path(photo) %></h3>
  <p><%= image_tag photo.image.url(:main) %></p>
<% end %>

<%= link_to "Make a new photo", new_photo_path %>
